@charset "utf-8";

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Istok-Web';
    src: url("../fonts/IstokWeb-Bold.ttf");
}


@font-face {
    font-family: 'AlegreyaSans';
    src: url("../fonts/AlegreyaSans-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik-Medium.ttf");
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-medium';

    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

body {

    margin: 0%;
    padding: 0%;

    color: white;
    background: #000000;
}

#header {
    background-image: linear-gradient(180deg, #000000b4 5%, #00000000), url("../images/vector-header.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
}

.container li {
    margin-top: 2vw;
    padding: 3px;
    text-align: center;
} 

.menu {
    display: inline-block;
    text-decoration: none;
    user-select: none;
    font-size: 1.2vw;
    color: white;
    font-family: "Montserrat";
}

.menu:hover {
    transform: scale(1.1);
}


.logo {
    position: absolute;
    margin-left: 2vw;
}

.title {
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 4vw;
    
    font-family: 'Montserrat';
    font-size: 6vw; 

}

.under-title {
    
    color: #FFFFFF;
    font-style: normal;
    font-family: 'Montserrat';
    font-size: 3vw; 
 
}

.button-request a {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top:1vw;
    padding-bottom:1vw;
    user-select: none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;

    color: #FFFFFF;
    position: relative;
    background-color: rgb(14, 14, 14);
    border-radius: 40px;
}

.button-request a::after, .button-request a::before {
    content: "";
    position: absolute;
    background: linear-gradient(247.61deg, #142fca, #43f2ff ,#ce10fd ,#e469b5);
    left: -2px;
    top: -2px;
    background-size: 100%;
    border-radius: 40px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
}

.button-request a::after {
    filter: blur(5px);
}

.button-conteiner {
    padding-bottom: 25%;
}

main {
    background-size: cover;
    background-repeat: no-repeat;
}

.title_m {
    text-align: center;
    padding-top: 3vw; 
    margin-bottom: 3vw;
    font-family: 'Roboto-medium';
    font-style: normal;
    font-size: 4vw;
    color: #FFFFFF;

}

.description-p {
    text-align: left;

    height: 40%;
    margin-top: 1vw;
    margin-bottom: 1.5vw; 
    font-size: 2.4vh;
    color: #FFFFFF;

    font-family: 'Rubik';

    padding: 0.8vw;
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
}

.img-people {
    width: 35vw;
    transform: rotate(-0.55deg);
    
}

.link-attach-div {
    margin-top: 5rem;

}

.link-attach {
    position: relative;
    font-size: 4vh;
    padding: 0.7rem;
    text-decoration: none;
    user-select: none;
    color: #ffffff;

    font-family: 'Montserrat';
    font-style: normal;

    background: #000000b9;
    /* border: 4px solid #639b91; */
    /* box-shadow: 0px 4px 31px rgba(26, 25, 25, 0.7); */
    border-radius: 32px;
}

.link-attach::after, .link-attach::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(94.4deg, #B820FF 0%, #C35CF3 15.62%, #6385FB 31.77%, #002FD2 50.52%, #6284F9 71.35%, #52EBF5 82.29%, #1AF1FF 100%);;
    background-size: 300%;
    border-radius: 30px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    
    animation: join-link-button 1.5s linear infinite;
}

.link-attach::after {
    filter: blur(15px);
}

@keyframes join-link-button {
    0%{
        filter: rotate(0deg);
    }
    100%{
        filter: rotate(360deg);
    }

}

.container-button-join {
    padding-top: 20px;
}

.headline {
    margin-top: 5vw;
    margin-bottom: 5vw;

    text-align: center;
    font-family: 'AlegreyaSans';
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;


    color: #FFFFFF;
}

.netw-container {

    opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    position: relative;

    margin-bottom: 5%;
    margin-right: 3%;
    margin-left: 3%;
    box-shadow: 2px 4px 36px 6px #1A1E20;
    border-radius: 20px;
    padding-top: 8px;
}


.netw-container.scroll-animation-class {
    opacity: 1;
    transform: translateY(0);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.netw-container::after, .netw-container::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(94.4deg, #B820FF 0%, #C35CF3 15.62%, #6385FB 31.77%, #002FD2 50.52%, #6284F9 71.35%, #52EBF5 82.29%, #1AF1FF 100%);;
    background-size: 300%;
    border-radius: 30px;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    z-index: -1;
}

.netw {
    position: relative;
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 1.1vw;
    border-radius: 20px;
    color: #FFFFFF;
    background: #000000b9;
    overflow: hidden;
    padding: 10px;
}





.netw img {
    width: 60px;
    margin-left: 2px;
}

.netw h4 {
    font-family: 'Rubik';
    font-size: 1.2vw;
}

.netw p {
    font-family: 'Rubik-Regular';
}

#about-format {
    padding-bottom: 8%;
}

.moderator {
    margin-top: 8vw;
    margin-bottom: 7vw;
    font-family: 'Playfair Display';
    font-style: normal;
    text-align: center;

    color: #FFFFFF;
}

.background-m {
    backdrop-filter: blur(10px); 
    padding-top: 25px;
    padding-bottom: 25px;
} 
.img-m {
    width: 15vw ;
    filter: drop-shadow(-26px -21px 24px rgba(0, 0, 0, 0.8));
}

.insta {
    margin-right: 1vw;
} 

.process {
    margin-bottom: 3.5vw;
    font-family: 'Playfair Display';
    font-style: normal;
    margin-top: 8vw; 
    align-items: center;

    color: #E1E1E1;
} 

.description-moderator {
    font-size: 1.5vw;
    font-family: 'Playfair Display';
    font-style: normal;
    color: #D3D3D3;
}

.online {

    position: relative;

    background: #000000d8;
    box-shadow: -48px -15px 54px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: #FFFFFF;

}

.online::after, .online::before {
    content: "";
    position: absolute;

    border-radius: 20px;

    top: -2px;
    left: -2px;
    background: linear-gradient(94.4deg, #B820FF 0%, #C35CF3 15.62%, #6385FB 31.77%, #002FD2 50.52%, #6284F9 71.35%, #52EBF5 82.29%, #1AF1FF 100%);;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;

    animation: animate-information-items 15s infinite;
}

.online::after {
    filter: blur(15px);
}

.online p {
    margin-bottom: 2vw;
    font-family: 'Rubik-Regular';
    text-align: start;
    font-style: normal;
    font-size: 1vw;
}

.reason {
    margin-top: 5vw;

    text-align: center;
    padding-top: 1.5vw; 
    margin-bottom: 2vw; 
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;

    color: #FFFFFF;
}

.reason-h {
    margin-top: 3vw;
    margin-bottom: 4vw;

    text-align: center;
    font-family: 'Quantico';
    font-size: 1.2vw; 
    color: #FFFFFF;
} 

.question-div {
    background: rgba(7, 7, 7, 0.89);
    box-shadow: -26px -14px 44px 10px rgba(0, 0, 0, 0.41);
    border-radius: 17px;

    padding-left: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;

    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.question-div::after, .question-div::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(94.4deg, #B820FF 0%, #C35CF3 15.62%, #6385FB 31.77%, #002FD2 50.52%, #6284F9 71.35%, #52EBF5 82.29%, #1AF1FF 100%);;
    background-size: 400%;
    border-radius: 20px;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    
    animation: animate-information-items 15s infinite;
}

.question-div::after {
    filter: blur(15px);
}

.question-div img {
    width: 1.6vw;
    margin-top: 0.5vw;
}

.question-div p {
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3vw; 
    color: #ddd4d4 ;

    margin-top: 0.6vw;
}

.img-34 {
    border-radius: 15px;
    width: 30vw;

    margin-top: 6vw;
}

.price {
    background: conic-gradient(from 180deg at 50% 50%, rgba(217, 217, 217, 0) 0deg, #000000 55.93deg, #040404 131.16deg, #474040 148.56deg, #3D3838 180.1deg, #494242 212.85deg, #0F0E0E 226.52deg, rgba(5, 5, 5, 0.356697) 312.39deg, rgba(217, 217, 217, 0) 360deg);
    padding-top: 2vw;
}

.title-price {
    margin-top: 3vw;
    margin-bottom: 8vw;

    text-align: center;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}
.offline-meet {
    font-family: 'Istok-Web';
    font-style: normal;
    font-size: 1.5vw;
    align-items: center;
    text-align: center; 

    color: #FFFFFF;
}

.offline {
    width: 6vw;
    margin-top: 1vw;
}    

.price-point {
    text-align: start;
    margin-top: 1vw;
}

.price-point span {
    font-family: 'Rubik-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 24px;

    color: #C4CEE7;
}

.price-item {
    background: rgba(51, 89, 186, 0.4);
    box-shadow: -21px -15px 9px rgba(0, 0, 0, 0.47);
    margin-left: 5vw;
    border-radius: 15px;
}

.price-cost {
    margin-top: 1vw;

    font-family: 'Istok-Web';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    color: #ffffff;
}

.price-cost span {
    color: #B09D9D;
}

.price-buy-btn {
    margin-top: 2vw;
    padding-bottom: 3vw;

    font-family: 'Istok-Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.price-buy-btn a {
    padding: 0.3vw;
    text-decoration: none;
    position: relative;
    background: rgba(12, 37, 151, 0.74);
    /* backdrop-filter: blur(10px); */
    color: white;
    border-radius: 16px;
}

.price-buy-btn a::after, .price-buy-btn a::before {
    content: "";
    position: absolute;
    background: linear-gradient(247.61deg, #142fca, #43f2ff ,#ce10fd ,#e469b5);
    left: -2px;
    top: -2px;
    background-size: 100%;
    border-radius: 16px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
}

/* .price-buy-btn a::after {
    filter: blur(5px);
} */

.form-panel {
    position: relative;
    background: rgba(0, 0, 0, 0.705);
    border-radius: 18px;
    padding-bottom: 3vw; 
    padding-top: 5vw;

    margin-top: 10vw;
    margin-bottom: 6vw;

    font-family: 'Barlow'; 
    font-style: normal;
    font-weight: 800;
    color: #FFFFFF;

}
.form-panel::after, .form-panel::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient( #1AF1FF 100%,94.4deg, #B820FF 0%, #C35CF3 15.62%, #6385FB 31.77%, #002FD2 50.52%, #6284F9 71.35%, #52EBF5 82.29%);;
    background: linear-gradient(94.4deg, #B820FF 0%, #C35CF3 15.62%, #6385FB 31.77%, #002FD2 50.52%, #6284F9 71.35%, #52EBF5 82.29%, #1AF1FF 100%);;
    background-size: 400%;
    border-radius: 20px;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    
    animation: animate-information-items 30s infinite;
}

.form-panel::after {
    filter: blur(15px);
}


.company {
    margin-top: 1vw;
    padding-top: 1vw;

    font-family: 'Barlow';
    font-style: normal;
    font-size: 16px;

    color: #9C9A9A;
}

.request {
    margin-bottom: 2vw;
    font-size: 2vw;
}

.form-panel input {
    width: 100%;
    height: 45px;

    margin-bottom: 3vw;

    color: #000000;
    text-decoration: solid;
    background-color: rgba(255, 255, 255, 0.473);
    border: 1px solid #FFFFFF;
    box-shadow: -20px -13px 13px -1px rgba(0, 0, 0, 0.25);

    border-radius: 6px;
}

.button-panel {
    background: linear-gradient(178.81deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2) 98.99%);
    box-shadow: -16px -9px 11px -2px rgba(0, 0, 0, 0.36);

    margin-top: 1vw;

    border-radius: 16px;
    width: 100%;
    height: 3vw;

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: #FFFFFF;

}

.commentaries {
    font-family: 'Barlow';
    font-style: normal;
    font-size: 3vw;
    text-align: center;

    margin-top: 15vw;
    margin-bottom: 7vw;

   color: #FFFFFF;
} 

.information-footer {
    font-family: "Barlow";
    font-style: normal;
    font-size: 1vw;

    text-align: center;
    letter-spacing: -0.045em;

    color: #FFFFFF;
}

.video-item {
    width: 100%;
    margin-bottom: 3vw;

    background: linear-gradient(180deg, rgba(217, 217, 217, 0.13) 0%, rgba(67, 55, 55, 0.1222) 82.8%, rgba(150, 148, 148, 0.1222) 100%);
    box-shadow: -21px -52px 75px -18px rgba(255, 255, 255, 0.33);

    border-radius: 35px;
}

@media (max-width: 990px) {
    .menu {
        font-size: 1.5vw;
    }
    .link-attach {
        font-size: 2.4vw;
    }
    .netw img {
        width: 4vw;
    }
    .insta {
        width: 2vw;
    }
    .online p {
        font-size: 1.5vw;
    }
    .reason {
        margin-top: 8vw;
        font-size: 3vw;
    }
    .reason-h {
        font-size: 2vw;
    }
    .question-div p {
        font-size: 1.6vw;
    }
    .price-buy-btn a {
        font-size: 1.3vw;
    }
    .price-cost{
        font-size: 2vw;
    }
    .price-point span {
        font-size: 2vw;
    }
    .price-point {
        margin-bottom: 3vw;
    }
    .button-panel{
        font-size: 2vw;
        padding-bottom: 3vw;
    }
    .information-footer {
        font-size: 1.5vw;
    }
    .title-price{
        margin-top: 7vw;
        margin-bottom: 7vw;
    }
    .commentaries {
        font-size: 4vw;
    }
    .process {
        margin-bottom: 6vw;
        margin-top: 10vw;
    }
    .moderator {
        font-size: 4vw;
    }
    .headline {
        margin-bottom: 8vw;
    }
}



@media (max-width: 576px) {
    .logo {
        display: none;
    }
    .title {
        font-size: 10vw;
       margin-top: 7vw !important;
    }
    .under-title {
        font-size: 5vw;
    }
    .button-request a {
        font-size: 5vw;
    }
    .title_m {
        text-align: center;
        font-size: 7vw;
        margin-bottom: 10vw;
    }
    .description-p  {
        font-size: 5vw;      
    }
    .img-people {
        width: 60vw;
        margin-bottom: 4vw;
    }
    .link-attach {
        font-size: 8vw;
    }
    .link-attach-div {
        margin-bottom: 10vw;
        
    }
    
    .headline {
        margin-top: 5vw;
        margin-bottom: 10%;
        font-size: 6vw;
        text-align: center;
    }
    .netw {
        margin-bottom: 5vw;
        font-size: 3vw;
    }
    .netw h4 {
        font-size: small;
    }
    .netw img {
        width: 50px;
    }
    .title {
        margin-top: 30%;
    }
    
    #about-format {
        padding-bottom: 15%;
    }
    .insta {
        width: 25px;
        margin-right: 5vw;
    }
    .img-m {
        width: 55vw;
    }    
    .description-moderator {
        font-size: 5vw;
    }
    .process {
        font-size: 5vw;
        
        margin-top: 30vw;
    }   
    .moderator {
        margin-top: 5vw;
        font-size: 5vw;   
        margin-bottom: 10vw;
    }
    .online p {
        font-size: 4vw;
    
    }
    .air-sm {
        display: none;
    }
    .conteiner-do {
        margin-bottom: 10%;
    }
    .reason {
        font-size: 5vw;
        margin-bottom: 6vw;
    }
    .reason-h {
        font-size: 4vw;
    }

    .question {
        font-size: 4vw;
    }
    .question-image {
        width: 7vw;
    }
    .img-34 {
        width: 50vw;
    }
    .question-div img {
        width: 5vw;
    }
    .question-div p {
        font-size: 17px;
    }
    .offline {
        width: 15vw;
    }
    .offline-meet {
        font-size: 5vw;
    }
    .price-item {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5vw !important; 
    }

    .title-price {
        margin-top: 8vw;
        margin-bottom: 8vw;
    }

    .price-point span {
        font-size: 4vw;
    }

    .price-cost {
        font-size: 6vw;
    }
    .price-buy-btn {
        margin-top: 10vw;
        margin-bottom: 5vw;
    }
    .price-buy-btn a {
        font-size: 5vw;
        padding: 3vw;
    }
    .button-panel {
        font-size: 5vw;
        width: 100%;
        height: 5%;
        margin-top: 6vw;
    }
    .company {
        font-size: 12px;
        margin-top: 3vw;

    }
    .commentaries {
        font-size: 10vw;
        margin-top: 7vw;
    }    
    .information-footer {
        font-size: 3vw;
    }
    .menu {
        font-size: 4vw;

    }  
    .container li {
        padding: 1vw;
        margin-top: 3vw;
    } 
    .video-item {
        margin-bottom: 8vw;
    }  
    .link-attach-div {
        margin-top: 5rem;
    
    }
    
    .link-attach {
        font-size: 3vh;
        padding: 0.7rem;
        text-decoration: none;
        user-select: none;
        color: #ffffff;
    
        font-family: 'Montserrat';
        font-style: normal;
    
        background: #000000b9;
        border-radius: 32px;
    }

    .netw {
        margin: 3px;
    }
    .form-panel {
        border-radius: 20px;
    }
}

@keyframes animate-information-items{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
